<div class="container-fluid sticky-top">
    <div class="row " style="height: 100px; background-color: #2d8659; color: #fff;">
        <div class="col d-flex align-items-center h1 ml-5" style="font-family: Cursive;">
            CaReCluB
        </div>        
        <div class="col d-flex align-items-center justify-content-end h4" style="font-family: Cursive;">
            
            <div class="col d-flex align-items-center justify-content-end h4" style="font-family: Cursive;">
                <a [routerLink]="['/routePath']" routerLinkActive="router-link-active"
                style="color: #fff;" >Home</a>
            </div>

            <div class="col d-flex align-items-center justify-content-end h4" style="font-family: Cursive;">
                <a [routerLink]="['/about']" routerLinkActive="router-link-active"
                style="color: #fff;" >About-Us</a>                
            </div>
            <div class="col d-flex align-items-center justify-content-end h4 mr-4" style="font-family: Cursive;">
                <a [routerLink]="['/routePath']" routerLinkActive="router-link-active"
                style="color: #fff;" >LogOut</a>
            </div>
        </div>           
    </div>
</div>
