<div class="container-fluid sticky-top">
    <div class="row " style="height: 100px; background-color: #2d8659; color: #fff;">
      <div class="col d-flex align-items-center h1 ml-5" style="font-family: Cursive;">
        CaReCluB
      </div>
    
      <div class="col d-flex align-items-center justify-content-end h3 mr-5" style="font-family: Cursive;">
        NGO Registration
      </div>  
    </div>
  </div>
  
<div class="container-fluid">
  <div class="row   justify-content-center  align-items-center "
        style="height: 80vh;">
    <div [formGroup]="fbFormGroup"
           class="col-12 col-md-8 mt-2 d-flex flex-column justify-content-center align-items-center" 
            style="background-color:#fff;  padding:2%; box-shadow: 5px 5px 5px 5px grey;">
       
                <div  style="color:black; font-family: Cursive;">
                 <h3>CaReCluB SignUp</h3></div>
       
               <!--<div style="color:whitesmoke;font-family:cursive;"><h1>Shop Management system</h1></div>--> 
               
              <!--User Role-->  
        <div class="col col-lg mt-2">
          <div class="form-group row ">
              <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size: 20px; font-weight: bold;">User Role</label>
              <div class="col col-sm-6 d-flex ">
                  <label class="form-check-label" style="font-size: 16px;" for="gridRadios1">Normal User</label>
                  <input type="radio" class="col form-control mr-4" id="inputUserRole" name="User" value="Normal User">
                  <label class="form-check-label" style="font-size: 16px; " for="gridRadios1">NGO</label>
                  <input type="radio" class="col form-control" id="inputNGORole" name="User" value="NGO">
              </div>                
          </div>
        </div>
    <!--License Number-->  
    <div class="col col-lg mt-2">
      <div class="form-group row ">
          <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size: 20px; font-weight: bold;">License Number</label>
          <div class="col col-sm-6 ">
              <input type="text" class="form-control " id="inputPassword" placeholder="License Number">
          </div>
          <button type="button" class="btn btn-primary btn-sm" style="background-color: #339966;"
          (click)="verifyLisence()">Verify</button>
      </div>
</div>
<label style="color: rgb(12, 124, 77);" 
  *ngIf="fbFormGroup.get('licenseno').invalid && 
  fbFormGroup.get('licenseno').touched ">License No required / invalid </label>

    <!--NGO Category-->  
    <div class="col col-lg mt-2">
      <div class="form-group row ">
          <!--<div class="col-auto my-1">-->
              <label class="col-sm-3 col-form-label" for="inlineFormCustomSelect" style="font-size: 20px; font-weight: bold;">NGO Category</label>
              <select class="col col-sm-6 custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Select...</option>
                <option value="1">Child</option>
                <option value="2">Orphanage</option>
                <option value="3">Disaster Relief & Rehabilitation</option>
                <option value="4">Livelihood</option>
                <option value="5">Woman</option>
              </select>
            <!--</div>-->             
      </div>
  </div>


              <!--Name-->  
              <div class="col col-lg mt-2">
                <div class="form-group row ">
                    <label for="inputName" class="col-sm-3 col-form-label" style="font-size: 20px; font-weight: bold;"> Name</label>
                    <div class="col col-sm-6 ">
                        <input type="Text" class="form-control" id="inputName" placeholder="Name"
                          [(ngModel)]="user.name" name="name">
                    </div>                
                </div>
          </div>
          <label style="color: rgb(12, 124, 77);" 
            *ngIf="fbFormGroup.get('username').invalid && 
            fbFormGroup.get('username').touched ">Username required / invalid </label>

            <!--Email ID-->  
            <div class="col col-lg mt-2">
                <div class="form-group row ">
                    <label for="inputEmailId" class="col-sm-3 col-form-label" style="font-size: 20px; font-weight: bold;">Email ID</label>
                    <div class="col col-sm-6 ">
                        <input type="email" class="form-control" id="inputEmailId" placeholder="Email ID" 
                        [(ngModel)]="user.email">
                    </div>                
                </div>
          </div>
          <label style="color: rgb(12, 124, 77);" 
            *ngIf="fbFormGroup.get('emailid').invalid && 
            fbFormGroup.get('emailid').touched ">Email ID required / invalid </label>

            <!--Contact Number-->  
            <div class="col col-lg mt-2">
                <div class="form-group row ">
                    <label for="inputContactNo" class="col-sm-3 col-form-label" style="font-size: 20px; font-weight: bold;">Contact Number</label>
                    <div class="col col-sm-6 ">
                        <input type="number" class="form-control" id="inputContactNo" placeholder="Contact Number"
                          [(ngModel)]="user.contactNumber">
                    </div>                
                </div>
          </div>
          <label style="color: rgb(12, 124, 77);" 
            *ngIf="fbFormGroup.get('contactno').invalid && 
            fbFormGroup.get('contactno').touched ">Contact No required / invalid </label>    

            <!--Password-->  
            <div class="col col-lg mt-2">
                <div class="form-group row ">
                    <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size: 20px; font-weight: bold;">Password</label>
                    <div class="col col-sm-6 ">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                        [(ngModel)]="user.password">
                    </div>                
                </div>
          </div>
          <label style="color: rgb(12, 124, 77);" 
            *ngIf="fbFormGroup.get('password').invalid && 
            fbFormGroup.get('password').touched ">Password required / invalid </label> 

            <!--Confirm Password-->  
            <div class="col col-lg mt-2">
                <div class="form-group row ">
                    <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size: 20px; font-weight: bold;">Confirm Password</label>
                    <div class="col col-sm-6 ">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Confirm Password">
                    </div>                
                </div>
          </div>
          <label style="color: rgb(12, 124, 77);" 
            *ngIf="fbFormGroup.get('password').invalid && 
            fbFormGroup.get('password').touched ">Password required / invalid </label> 

          <!--Address-->  
          <div class="col col-lg mt-2">
            <div class="form-group row ">
                <label for="inputAddress" class="col-sm-3 col-form-label" style="font-size: 20px; font-weight: bold;">Address</label>
                <div class="form-row">
                    <div class="col-2">
                      <input type="text" class="form-control" placeholder="Block No">
                    </div>
                    <div class="col-3">
                      <input type="text" class="form-control" placeholder="Area">
                    </div>
                    <div class="col-3">
                        <input type="text" class="form-control" placeholder="City">
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" placeholder="District">
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" placeholder="Pin Code">
                    </div>
                  </div>               
            </div>
      </div>
      <label style="color: rgb(12, 124, 77);" 
        *ngIf="fbFormGroup.get('address').invalid && 
        fbFormGroup.get('address').touched ">Address required / invalid </label>  

        
      <label style="color: rgb(12, 124, 77);" 
        *ngIf="fbFormGroup.get('password').invalid && 
        fbFormGroup.get('password').touched ">Password required / invalid </label>

         
         
        <label style="color:rgb(12, 124, 77);;" 
            *ngIf="fbFormGroup.get('username').invalid && 
            fbFormGroup.get('username').touched ">Username required / invalid </label>  

            <!--button-->
            <div class="mt-2">
                <button type="button" class="btn btn-primary mr-3" style="background-color: #339966;" [disabled]="!fbFormGroup.valid" (click)= "sighup()">SignUp</button>
                <button type="button" class="btn btn-primary" style="background-color: #339966;" (click)="gotologin()">Login</button>
            </div>
        </div>
        </div>
    </div>