<div class="container-fluid sticky-top">
    <div class="row " style="height: 100px; background-color: #2d8659; color: #fff;">
      <div class="col d-flex align-items-center h1 ml-5" style="font-family: Cursive;">
        CaReCluB
      </div>
    
      <div class="col d-flex align-items-center justify-content-end h3 mr-5" style="font-family: Cursive;">
        NGO Registration
      </div>  
    </div>
  </div>
  
<div class="container-fluid">
  <div class="row   justify-content-center  align-items-center "
        style="height: 80vh;">
        <form (ngSubmit)="signUp()">
    <div 
           class="col-12 col-md-8 mt-2 d-flex flex-column justify-content-center align-items-center" 
            style="background-color:#fff;  padding:2%; box-shadow: 5px 5px 5px 5px grey;">
       
                <div  style="color:black; font-family: Cursive;">
                 <h3>CaReCluB SignUp</h3></div>               
              
    <!--License Number-->  
    <!-- <div class="col col-lg mt-2">
      <div class="form-group row ">
          <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size: 20px; font-weight: bold;">License Number</label>
          <div class="col col-sm-6 ">
              <input type="text" class="form-control " id="inputPassword" placeholder="License Number" [(ngModel)]="lisenceId" Name="lisenceId" required/>
              
          </div>
          <button type="button" class="btn btn-primary btn-sm" style="background-color: #339966;"
          (click)="verifyLisence()">Verify</button>
      </div>
</div> 
<label style="color: rgb(12, 124, 77);" 
  *ngIf="fbFormGroup.get('licenseno').invalid && 
  fbFormGroup.get('licenseno').touched ">License No required / invalid </label> -->

    <!--User Role-->  
     <div class="col col-lg mt-2">
      <div class="form-group row ">
         
              <label class="col-sm-3 col-form-label" for="inlineFormCustomSelect" style="font-size: 20px; font-weight: bold;">User Role</label>
              <select  class="col col-sm-6 custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option >Select...</option>
                <!-- <option value="1">Admin</option> -->
                <option value="2" name="User" [(ngModel)]=m_Role.roleId>User</option>
                <option value="3" name="NGO" [(ngModel)]=m_Role.roleId>NGO</option>
                <!-- <option value="4">Livelihood</option>
                <option value="5">Woman</option> -->
              </select>
                       
      </div>
  </div> 


              <!--Name-->  
              <div class="col col-lg mt-2">
                <div class="form-group row ">
                    <label for="inputName" class="col-sm-3 col-form-label" style="font-size: 20px; font-weight: bold;"> Name</label>
                    <div class="col col-sm-6 ">
                        <input type="Text" class="form-control" id="inputName" placeholder="Name"
                        name="name" [(ngModel)]="userReg.name">
                          
                </div>
          </div>
          <label style="color: rgb(12, 124, 77);" 
            *ngIf="fbFormGroup.get('name').invalid && 
            fbFormGroup.get('name').touched ">Username required / invalid </label>

            <!--Email ID-->  
            <div class="col col-lg mt-2">
                <div class="form-group row ">
                    <label for="inputEmailId" class="col-sm-3 col-form-label" style="font-size: 20px; font-weight: bold;">Email ID</label>
                    <div class="col col-sm-6 ">
                        <input type="email" class="form-control" id="inputEmailId" placeholder="Email ID" 
                        name="email" [(ngModel)]="userReg.email">
                    </div>                
                </div>
          </div>
          <label style="color: rgb(12, 124, 77);" 
            *ngIf="fbFormGroup.get('emailid').invalid && 
            fbFormGroup.get('emailid').touched ">Email ID required / invalid </label>

            <!--Contact Number-->  
            <div class="col col-lg mt-2">
                <div class="form-group row ">
                    <label for="inputContactNo" class="col-sm-3 col-form-label" style="font-size: 20px; font-weight: bold;">Mobile Number</label>
                    <div class="col col-sm-6 ">
                        <input type="text" class="form-control" id="inputContactNo" placeholder="Mobile Number"
                        name="mobileNo" [(ngModel)]="userReg.mobileNo">
                    </div>                
                </div>
          </div>
          <label style="color: rgb(12, 124, 77);" 
            *ngIf="fbFormGroup.get('mobileNo').invalid && 
            fbFormGroup.get('mobileNo').touched ">Mobile No required / invalid </label>    

            <!--Password-->  
            <div class="col col-lg mt-2">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size: 20px; font-weight: bold;">Password</label>
                    <div class="col col-sm-6 ">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" 
                        name="password" [(ngModel)]="userReg.password">
                    </div>                
                </div>
          </div>
          <label style="color: rgb(12, 124, 77);" 
            *ngIf="fbFormGroup.get('password').invalid && 
            fbFormGroup.get('password').touched ">Password required / invalid </label> 

            <!--Confirm Password-->  
            <!-- <div class="col col-lg mt-2">
                <div class="form-group row ">
                    <label for="inputPassword" class="col-sm-3 col-form-label" style="font-size: 20px; font-weight: bold;">Confirm Password</label>
                    <div class="col col-sm-6 ">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Confirm Password">
                    </div>                
                </div>
          </div>
          <label style="color: rgb(12, 124, 77);" 
            *ngIf="fbFormGroup.get('password').invalid && 
            fbFormGroup.get('password').touched ">Password required / invalid </label>  -->

          <!--Address-->  
          <div class="col col-lg mt-2">
            <div class="form-group row ">
                <label for="inputAddress" class="col-sm-3 col-form-label" style="font-size: 20px; font-weight: bold;">Address</label>
                <div class="form-row">
                    <div class="col-2">
                      <input type="text" class="form-control" placeholder="Room No" name="roomNo" [(ngModel)]="address.roomNo">
                    </div>
                    <div class="col-3">
                      <input type="text" class="form-control" placeholder="Area" name="area" [(ngModel)]="address.area">
                    </div>
                    <div class="col-3">
                        <input type="text" class="form-control" placeholder="City"
                        name="city" [(ngModel)]="address.city">
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" placeholder="District" name="district" [(ngModel)]="address.district">
                    </div>
                    <div class="col-2">
                      <input type="text" class="form-control" placeholder="Pin Code" name="pincode" [(ngModel)]="address.pincode">
                    </div>
                  </div>               
            </div>
      </div>
      <label style="color: rgb(12, 124, 77);" 
        *ngIf="fbFormGroup.get('address').invalid && 
        fbFormGroup.get('address').touched ">Address required / invalid </label>

            <!--button-->
            <div class="mt-2">
                <button type="submit" class="btn btn-primary mr-3" style="background-color: #339966;" >SignUp</button>
                <button type="button" class="btn btn-primary" style="background-color: #339966;" (click)="gotologin()">Login</button>
            </div>
        </div>
        </div>
      </form>
    </div>