<app-header></app-header>

<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center" 
    style="height: 100%; 
    width: 100%; 
    position: fixed; 
    z-index: 0; 
    overflow-x: hidden;">
        
        <!--Profile Side-->
        
        <div class="col col-4"
        style="height: 100%; 
        position: fixed; 
        z-index: 1;  
        left: 0;
        background-color: #79d2a6; 
        border: 1px solid black;
        overflow-x: hidden;
        padding-top: 15px;" >
                <!--Details-->
                <div class="col col-12 mt-1 sticky-col" style="height: 50vh; border: 2px solid white; background-color: #fff; ">
                    <h4>Decsription</h4>
                    
                </div>
                <!--Options-->
                <div class="col col-12 mt-1 mb-1 " style="height: 28vh; border: 2px solid white; background-color: #fff; ">
                    <h4>Options</h4>
                    <div class="col col-12 mt-4 mb-2 d-flex justify-content-center align-items-center">
                        <button type="button" class="btn btn-primary mr-2" style="background-color: #339966;" (click)="gotoNgoDetailsEdit()">Edit Profile</button>
                        <button type="button" class="btn btn-primary mr-2" style="background-color: #339966;" (click)="gotoNgoDetails()">View Profile</button>
                        <button type="button" class="btn btn-primary mr-2" style="background-color: #339966;" (click)="gotoViewPost()">View Post</button>
                    </div>
                </div>
        </div>

        <!--NGO Profile -->
        <div class="col col-8" 
        style=" height: 100%;
        position: fixed; 
        z-index: 1;  
        right: 0;
        margin: 0;
        overflow-x: hidden;
        padding-top: 15px;
        background-color: #79d2a6;  ">
            <!--Details-->
            <div class="row col-12 mt-1 ml-1" style=" height: 18vh; border: 2px solid white; background-color: #fff; ">
                <div class="col col-6 ml-1" style="border: 1px solid black; line-height: 1.5;">
                    <h6><b>Details</b></h6>
                    <ul>
                        <li><b>Name : </b></li>
                        <li><b>Owner : </b></li>
                        <li><b>NGO Category : </b></li>
                    </ul>
                </div>
                <div class="col col-5" style="border: 1px solid black; line-height: 1.5;">
                    <br>
                    <ul>
                        <li><b>Email : </b></li>
                        <li><b>Mobile No : </b></li>
                    </ul>
                </div>
            </div>
            <!--Create Post-->
            <div class="col col-12 mt-1 mb-1" style="height: 60vh; border: 2px solid white; background-color: #fff; ">
                <h6>Create Post</h6>
                <app-post></app-post>
            </div>
             
        </div>
    </div>
</div>
