<div class="container-fluid sticky-top">
  <div class="row " style="height: 100px; background-color: #2d8659; color: #fff;">
    <div class="col d-flex align-items-center h1 ml-5" style="font-family: Cursive;">
      CaReCluB
    </div>
  
    <div class="col d-flex align-items-center justify-content-end h3 mr-5" style="font-family: Cursive;">
      Login
    </div>      
  </div>
</div>

<div class="container-fluid" style="background-image: url('/Images/ngo_background_2.jpg');">
  <div class="row justify-content-center align-items-center "
        style="height: 80vh;">
    <div [formGroup]="fbFormGroup"
          class="col-10 col-md-4  d-flex flex-column justify-content-center align-items-center" 
          style="box-shadow: 5px 5px 5px 5px grey; padding:2%;">
     
      <div  style="color:black; font-family: Cursive;">
               <h3>Welcome To CaReCluB</h3>
      </div>
              
      <div class="col-auto mt-2">
        <label class="sr-only" for="inlineFormInputGroup">Email</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup" 
                   placeholder="Email" formControlName="username"/>
          </div>
      </div>
      <label style="color: red;" 
              *ngIf="fbFormGroup.get('username').invalid &&
                fbFormGroup.get('username').touched ">
                Username required / invalid 
      </label>     
              
      <div class="col-auto">
          <label class="sr-only" for="inlineFormInputGroup">
            Password
          </label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><fa-icon [icon]="faUnlockAlt"></fa-icon></div>
            </div>
            <input type="password" class="form-control" id="inlineFormInputGroup" 
                   placeholder="Password" formControlName="password"/>
          </div>
      </div>
              
      <label style="color: red;" 
             *ngIf="fbFormGroup.get('password').invalid &&
              fbFormGroup.get('password').touched ">
              Password required / invalid 
      </label>
     
      <!--button-->     
      <div class="mt-2">
        <button type="button" class="btn btn-primary mr-3" style="background-color: #339966;" [disabled]="!fbFormGroup.valid" (click)= "userLogin()">Login</button>
      </div> 
      <a [routerLink]="['/forgotPassword']" routerLinkActive="router-link-active" >Forgot password?</a>
     
      <h5 class="mt-2" style="color:black; font-family: Cursive;">---For new user Sign up---</h5>               
      <h6 class="mt-2" style="color:black; font-family: Cursive;">Select your role type and proceed to sign-up</h6>               
      
      
      <!--Radio Buttons-->
      <div class="d-flex">
        <div >
          <div style="margin-bottom: 10px; margin-top: 8px;"><label class="form-check-label" style="font-size: 16px;" for="gridRadios1">User</label></div>
          <div><label class="form-check-label" style="font-size: 16px; " for="gridRadios1">NGO  .</label></div>            
        </div>
        <div>
          <div style="margin-top: 0px;"><input type="radio" class="col form-control mr-4" id="inputUserRole" name="User" value="Normal User"></div>
          <div><input type="radio" class="col form-control mr-4" id="inputNGORole" name="User" value="NGO"></div>
          
            
        </div>              
      </div>
      <div class="mt-2">
        <button type="button" class="btn btn-primary mr-3" style="background-color: #339966;" (click)="gotoSignUp()">SignUp</button>
      </div>           
    </div>
  </div>
</div>

      