
    <!--Post-->
    <div class="row col-12 d-flex mt-2 mb-4 mr-2 ml-2 justify-content-center align-items-center" 
    style="height: 80%; background-color: #79d2a6;  position: relative; border: 1px solid black;">
        <!--Post Image and Desc and Comment box-->
        <div class="col col-12 d-flex mt-2 justify-content-center align-items-center"
        style="height: 80%; width: auto; position: relative;">
            <!--Post Image and Desc-->
            <div class="row col-8 d-flex mt-2 ml-1 mr-2"
            style="height: 95%; width: auto; position: relative; ">
                <!--Name Date-->
                <div class="col col-12 d-flex" 
                style="height: 10%; width: auto; background-color: #fff;  position: relative;">
                    <ul>
                        <li></li>
                    </ul>
                </div>
                <!--Post Image-->
                <div class="col col-12 d-flex" 
                style="height: 70%; width: auto; background-color: #fff;  position: relative;">
                    <img src="assets\img\ngo_background_2.jpg" class="img-fluid"
                    style="height: 100%; width: 100%; background-color: fff; position: relative; border: 2px solid black;">
                </div>
                <!--Post Desc-->
                <div class="col col-12 d-flex"
                style="height: 20%; width: auto; background-color: #fff;  position: relative;">
                    <p>
                        
                    </p>
                </div>
            </div>

            <!--Post Comment Box-->
            <div class="col col-4 d-flex mt-2 flex-column justify-content-start"
            style="height: 95%; width: auto; background-color: #fff; position: relative; ">
                <input type="text" class="row d-flex justify-content-center align-items-center ml-1 mr-1 mt-2 mb-2" 
                style="height: 10%; width: auto; border: 1px solid black; position: relative;"> 

                <button type="button" class="btn btn-primary ml-1 mr-5" style="background-color: #339966;" >Comment</button>

            </div>

        </div>

        <!--Post bottons-->
        <div class="col col-12 d-flex mb-2 d-flex justify-content-center align-items-center"
        style="height: 15%; background-color: #fff; position: relative;">
            <button type="button" class="btn btn-primary mr-5" style="background-color: #339966;" >Like</button>
            <button type="button" class="btn btn-primary mr-5" style="background-color: #339966;" >Doanate</button>
            <button type="button" class="btn btn-primary mr-5" style="background-color: #339966;" >Join Us</button>
        </div>
    
    </div>

