<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col d-flex justify-content-center  align-items-center" style="font-family: cursive; height: 20vh;">
            <h3>About-Us</h3>            
        </div>        
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center  align-items-center" style="font-family: cursive; height: 30vh;">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eos facere, iste magnam voluptatem incidunt architecto laudantium blanditiis
                 ea ducimus repellat deleniti est adipisci perferendis ullam ex neque. 
                 In, eligendi hic.Ratione, quod. Ullam ex accusantium eveniet quam et 
                 laborum impedit alias enim eos non, 
                 vel iusto. Dolorum voluptas placeat distinctio,
                 autem neque quidem eaque ullam error laboriosam expedita consectetur culpa.
            </p>
        </div>
    </div>
</div>
